@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: 'hatton_semibold';
    src: url('./assets/fonts/Hatton-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hatton_regular';
    src: url('./assets/fonts/Hatton-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'opensans_regular';
    src: url('./assets/fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    font-size: 14px;
}

img {
    border: none;
    display: block;
}

input,
select {
    -webkit-appearance: none;
    appearance: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

p {
    margin: 0;
}

.relative {
    position: relative;
}

.wp_centered {
    width: 87em;
    margin: 0 auto;
}

.wp_center {
    width: 86%;
    margin: 0 auto;
}

.wp_flexbox {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.wp_flexbox-top {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.wp_clear {
    clear: both;
}

.alignright {
    float: right;
    margin-left: 30px;
    margin-bottom: 15px;
}

.alignleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.aligncenter {
    margin: 0 auto;
    text-align: center;
    display: inherit;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

header {
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 60px;
}

section {
    width: 100%;
}

#menu-idiomas .sub-menu li:first-child {
    opacity: 0.5;
}

#menu-idiomas .current-menu-parent li.current_page_item,
#menu-idiomas .current-menu-parent li.current-menu-item {
    opacity: 0.5 !important;
}

#menu-idiomas .current-menu-parent li {
    opacity: 1 !important;
}

#menu-idiomas-1 .sub-menu li:first-child {
    opacity: 0.5;
}

#menu-idiomas-1 .current-menu-parent li.current_page_item,
#menu-idiomas-1 .current-menu-parent li.current-menu-item {
    opacity: 0.5 !important;
}

#menu-idiomas-1 .current-menu-parent li {
    opacity: 1 !important;
}

.wp_containerLogo {
    width: 15em;
}

.wp_containerLogo img {
    width: 14.5em;
    height: auto;
}

.wp_containerNav {
    display: flex;
    justify-content: space-between;
}

.field-nav {
    margin-right: 8em;
}

.field-nav ul {
    display: flex;
}

.field-nav ul li {
    margin-right: 5.8em;
}

.field-nav ul li a {
    font: 1.25em/1em hatton_semibold;
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.field-nav ul li a:hover {
    color: #EF8000 !important;
}

.field-lang {
    display: flex;
}

.field-lang a {
    font: 1.25em/1em hatton_semibold;
    color: #fff;
    opacity: 1;
}

.field-lang i {
    font: 1.25em/1em hatton_semibold;
    color: #fff;
    margin: 0 4px;
}

.lang-active {
    opacity: 0.5 !important;
}

.field-lang-movil {
    display: none;
}

#wp_containerSlider-Home {
    width: 100%;
    height: 75em;
    position: relative;
}

#button-slider {
    display: flex;
    margin-bottom: 4em;
}

.slick-prev,
.slick-next {
    display: none !important;
}

#button-slider .slick_prev_arrow_add {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 0;
    color: transparent;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    background: url("./assets/webanterior/button-left.svg");
    background-size: contain;
}

#button-slider .slick_prev_arrow_add:hover {
    background: url("./assets/webanterior/button-left-hover.svg") !important;
    background-size: contain !important;
}

#button-slider .slick_next_arrow_add {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 0;
    color: transparent;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    background: url("./assets/webanterior/button-right.svg");
    background-size: contain;
    margin-left: 15px;
}

#button-slider .slick_next_arrow_add:hover {
    background: url("./assets/webanterior/button-right-hover.svg") !important;
    background-size: contain !important;
}

#numer-slider {
    display: flex;
    font: 1.3em/1em hatton_semibold;
    color: #fff;
    margin-bottom: 3.5em;
}

.fade-flash {
    animation: flashEffect 1s ease-in-out;
}

@keyframes flashEffect {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        filter: brightness(1.3);
    }

    100% {
        opacity: 1;
        filter: brightness(1);
    }
}

.wp_columnSlider-Home {
    height: 75em;
    display: flex !important;
    align-items: flex-end !important;
}

.wp_layerSlider-Home {
    padding-left: 7%;
    position: relative;
    padding-right: 15%;
    background: url("./assets/webanterior/layer.svg");
    background-position: right top;
    background-size: 145%;
    width: 57.5%;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.wp_layerSlider-Home div {
    width: 100%;
    margin-bottom: 7.5em;
}

.wp_columnSlider-Home h2 {
    font: 2.5em/1.2em hatton_semibold;
    color: #fff;
    display: table;
    position: relative;
    margin-bottom: 0.5em;
    width: 90%;
}

.wp_columnSlider-Home h3 {
    font: 1.25em/1.2em opensans_regular;
    color: #fff;
    display: block;
    margin-bottom: 2em;
}

.wp_columnSlider-Home a {
    font: 1.25em/1.2em hatton_semibold;
    color: #EF8000;
    background: url("./assets/webanterior/button.svg");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 2.7em;
}

.wp_columnSlider-Home a:hover {
    background: url("./assets/webanterior/button-hover.svg") !important;
    background-position: left center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#wp_containerSlider-Page {
    width: 100%;
    position: relative;
    background: #3B3C43;
    padding-top: 22em;
    padding-bottom: 16em;
}

#wp_containerSlider-Page:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 90px solid transparent;
    border-top: 90px solid transparent;
    border-left: 90px solid transparent;
    border-bottom: 80px solid #fff;
    position: absolute;
    bottom: 0;
    left: 7%;
}

.line-nav {
    width: 86%;
    height: 1px;
    position: absolute;
    background: #807c7963;
    top: 145px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.layer-page {
    width: 86%;
    margin: 0 auto;
}

.layer-page h1 {
    font: 4.0625em/1em hatton_semibold;
    color: #fff;
    background: url("./assets/webanterior/ico-title.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0.9em;
    padding-left: 1.3em;
}

.layer-page p {
    font: 3.125em/1.2em hatton_regular;
    color: #fff;
    display: block;
    margin-top: 1.3em;
    max-width: 81%;
    text-align: justify;
}

.field-nav .current_page_item a {
    color: #EF8000 !important;
}

#wp_container_TheContent-Home {
    width: 100%;
    padding: 12em 0;
    background: #fff;
}

#wp_container_TheContent-Home div p {
    font: 3.125em/1.2em hatton_regular;
    color: #3B3C43;
    display: block;
    text-align: justify;
}

#wp_container_TheContent-Home div a {
    font: 1.5625em/1em hatton_semibold;
    color: #3B3C43;
    background: url("./assets/webanterior/button-home.svg");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 2.5em;
    margin-top: 2em;
}

#wp_container_TheContent-Home div a:hover {
    background: url("./assets/webanterior/button-home-hover.svg") !important;
    background-position: left center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#wp_container_post-Home {
    width: 100%;
}

.row-post-Home {
    width: 100%;
    border-bottom: 1px solid #C9C3BE;
    padding-bottom: 6em;
    margin-bottom: 10em;
}

.row-post-Home ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.row-post-Home ul li {
    width: 48.5%;
}

.row-post-Home ul li .row-image-post {
    width: 100%;
}

.row-post-Home ul li .row-image-post img {
    width: 100%;
    height: auto;
}

.row-post-Home ul li .row-content-post {
    width: 100%;
    padding: 3em 0;
}

.row-post-Home ul li .row-content-post span {
    font: 1.5625em/1.2em hatton_semibold;
    color: #EF8000;
    display: block;
}

.row-post-Home ul li .row-content-post h3 {
    font: 2.1875em/1.2em hatton_semibold;
    color: #333333;
    display: block;
    padding: 0.4em 0;
}

.row-post-Home ul li .row-content-post p {
    font: 1.25em/1.5em opensans_regular;
    color: #3B3C43;
    display: block;
    padding: 0.3em 0;
}

.row-post-Home ul li .row-content-post a {
    font: 1.5625em/1em hatton_semibold;
    color: #3B3C43;
    background: url("./assets/webanterior/button-home.svg");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 2.5em;
    margin-top: 1.2em;
}

.row-post-Home ul li .row-content-post a:hover {
    background: url("./assets/webanterior/button-home-hover.svg") !important;
    background-position: left center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}

.row-post-Blog {
    border-bottom: 0px solid #C9C3BE;
    margin-bottom: 0;
    padding: 10em 0;
}

.row-post-Blog ul li {
    margin-bottom: 5em;
}

.row-title-block {
    width: 100%;
    padding-bottom: 4em;
    border-top: 1px solid #C9C3BE;
    padding-top: 10em;
}

.row-title-block h2 {
    font: 3.125em/1em hatton_regular;
    color: #333333;
    display: block;
}

.row-title-block a {
    font: 1.5625em/1.2em hatton_semibold;
    color: #EF8000;
    background: url("./assets/webanterior/button-blog.svg");
    background-position: left center;
    background-size: 3em;
    background-repeat: no-repeat;
    padding: 1em 0 1em 3.5em;
}

.row-title-block a:hover {
    background: url("./assets/webanterior/button-blog-hover.svg") !important;
    background-position: left center !important;
    background-size: 3em !important;
    background-repeat: no-repeat !important;
}



#wp_containerContact_Home {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: url(./assets/webanterior/backgroundContact.svg);
    background-position: 0% 135%;
    background-size: 7%;
    background-repeat: no-repeat;
}

.wp_wrapperContact_Home {
    width: 100%;
    background: linear-gradient(to left, #F1EEEC 50%, #fff0 0);
}

.wp_containerForm_Home {
    width: 100%;
    background: #F1EEEC;
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 100px;
    padding-top: 130px;
    padding-bottom: 110px;
}

.wp_formTitle_Home {
    margin-bottom: 2.5em;
}

.wp_formTitle_Home h2 {
    font: 3.125em/1em hatton_regular;
    color: #333333;
    display: block;
}

.wp_textForm_Home {
    color: #3B3C43;
    font: 1.25em/1.5em opensans_regular;
    padding: 15px 0;
}

.wp_containerField_Form_Home label {
    color: #3B3C43;
    font: 1.25em/1.5em opensans_regular;
    padding-bottom: 0.3em;
    display: block;
}

.wp_containerField_Form_Home p input[type="text"],
.wp_containerField_Form_Home p input[type="email"],
.wp_containerField_Form_Home p input[type="tel"] {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    color: #3B3C43;
    font: 1.2em/1em opensans_regular;
    background: none;
    border: 1px solid #C9C3BE;
    height: 40px;
    text-indent: 1em;
}

.wp_containerField_Form_Home textarea {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    color: #3B3C43;
    font: 1.2em/1em opensans_regular;
    background: none;
    border: 1px solid #C9C3BE;
    height: 10em;
    text-indent: 1em;
    resize: none;
    padding-top: 1em;
}

.wp_containerField_Form_Home p {
    margin-bottom: 1.7em;
}

.wp_containerField_Form_Home p input[type="submit"] {
    font: 1.5625em/1em hatton_semibold;
    color: #3B3C43;
    background: url("./assets/webanterior/button-home.svg");
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 2.5em;
    margin-top: 30px;
    display: table;
    border: none;
    cursor: pointer;

}

.wp_containerField_Form_Home p input[type="submit"]:hover {
    background: url("./assets/webanterior/button-home-hover.svg") !important;
    background-position: left center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}



.left-contact {
    width: 47%;
}

.right-contact {
    width: 47%;
}

.right-contact img {
    width: 100%;
    height: auto;
}

#wp_containerContent-Page {
    width: 100%;
    background: #fff;
    color: #3B3C43;
    font: 1.35em/1.6em opensans_regular;
    padding-top: 7em;
    padding-bottom: 5em;
    text-align: justify;
}

#wp_containerContent-Page .wp_center {
    padding: 0 7%;
}

#wp_containerContent-Page p {
    margin: 15px 0;
}

#wp_containerImage-Page img {
    width: 100%;
    height: auto;
}

.line-image {
    width: 100%;
    height: 1px;
    position: relative;
    background: #807c7963;
    margin: 10em 0;
}

#wp_containerList-Row {
    width: 100%;
    margin: 10em 0;
}

#wp_containerList-Row h2 {
    font: 3.125em/1em hatton_regular;
    color: #333333;
    display: block;
}

#wp_containerList-Staff {
    width: 100%;
    margin-bottom: 11em;
}

#wp_containerList-Staff h2 {
    font: 3.125em/1em hatton_regular;
    color: #333333;
    display: block;
}

.row-item-staff {
    width: 100%;
    margin: 5em 0;
    display: flex;
    justify-content: flex-start;
}

.column-staff {
    width: 26%;
    margin-right: 11%;
}

.column-staff:nth-child(3n) {
    margin-right: 0%;
}

.image-staff {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-staff img {
    width: 100%;
    height: auto;
}

.image-staff:before {
    content: "";
    width: 120px;
    height: 120px;
    background: #EF8000;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    right: -10%;
    bottom: -5%;
}

.content-staff {
    width: 100%;
    padding: 2.5em 0;
    border-bottom: 1px solid #807c7963;
    margin-bottom: 1em;
}

.content-staff h3 {
    font: 2.5em/1.2em hatton_semibold;
    color: #333333;
    display: block;
    padding-right: 2em;
    height: 2.4em;
    overflow: hidden;
}

.content-staff span {
    color: #3B3C43;
    font: 1.5625em/1em opensans_regular;
    display: block;
    padding-top: 0.6em;
}

.button-staff {
    font: 1.5625em/1.2em hatton_semibold;
    color: #3B3C43;
    background: url("./assets/webanterior/button-staff.svg");
    background-position: left center;
    background-size: 3em;
    background-repeat: no-repeat;
    padding: 1em 0 1em 3.5em;
}

.button-staff:hover {
    background: url("./assets/webanterior/button-staff-hover.svg") !important;
    background-position: left center !important;
    background-size: 3em !important;
    background-repeat: no-repeat !important;
}

.line-cat {
    width: 86%;
    margin: 0 auto;
    height: 1px;
    background: #807c7963;
}

.column-right-staff h2 {
    font: 3.125em/1.2em hatton_semibold;
    color: #333333;
    display: block;
}

.column-right-staff span {
    font: 1.5625em/1.5em opensans_regular;
    color: #3B3C43;
    display: block;
    padding: 0.1em 0;
}

.data-staff {
    padding: 1.5em 0;
}

.data-staff ul li {
    font: 1.25em/1.5em opensans_regular;
    color: #3B3C43;
    display: block;
    background: url("./assets/webanterior/check.svg");
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 1em;
    display: flex;
}

.data-staff ul li a {
    color: #3B3C43;
}

.theContent-staff {
    font: 1.25em/1.5em opensans_regular;
    color: #3B3C43;
    padding: 1em 0;
    text-align: justify;
    text-align: justify;
}

.theContent-staff p {
    margin-bottom: 20px;
}

.button-pdf {
    font: 1.5625em/1.2em hatton_semibold;
    color: #EF8000;
    background: url("./assets/webanterior/button-pdf.svg");
    background-position: left center;
    background-size: 3em;
    background-repeat: no-repeat;
    padding: 1em 0 1em 3.5em;
    margin-top: 0.5em;
}

.button-pdf:hover {
    background: url("./assets/webanterior/button-pdf-hover.svg") !important;
    background-position: left center !important;
    background-size: 3em !important;
    background-repeat: no-repeat !important;
}

#wp_containerServices {
    width: 100%;
    margin: 13em 0;
}

#wp_containerServices .wp_center {
    width: 75%;
}

#wp_containerServices>div>ul>li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12em;
}

#wp_containerServices>div>ul>li .image-services {
    width: 45%;
    position: relative;
}

#wp_containerServices>div>ul>li .image-services i {
    font: 2.5em/1.2em hatton_semibold;
    color: #ffff;
    position: absolute;
    top: -1.5em;
    left: -2em;
    background: url("./assets/webanterior/ico.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;

}

#wp_containerServices>div>ul>li .image-services img {
    width: 100%;
    height: auto;
}

#wp_containerServices>div>ul>li:nth-child(2n) {
    flex-direction: row-reverse;
}

#wp_containerServices>div>ul>li .content-services {
    width: 45%;
}

#wp_containerServices>div>ul>li .content-services h3 {
    font: 2.5em/1.2em hatton_semibold;
    color: #333333;
    display: block;
    padding: 0.4em 0;
    padding-right: 5em;
}

#wp_containerServices>div>ul>li .content-services p {
    font: 1.25em/1.5em opensans_regular;
    color: #3B3C43;
    display: block;
    padding: 0.3em 0;
    text-align: justify;
}

.content-services ul li {
    font: 1.25em/1.5em opensans_regular;
    color: #3B3C43;
    padding: 0.1em 0;
    padding-left: 1em;
    text-align: justify;
    position: relative;
}

.content-services ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0px;
    top: 9px;
    border-radius: 50%;
    background: url("./assets/webanterior/ico.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.row-pagination {
    width: 100%;
    margin-bottom: 10em;
    margin-top: -7em;
}

.row-pagination ul {
    display: flex;
    justify-content: center;
}

.row-pagination ul li {
    margin: 0 1em;
}

.row-pagination ul li a {
    font: 1.5625em/1em hatton_regular;
    color: #000;
}

.active-pagination {
    font: 1.5625em/1em hatton_semibold !important;
    border-bottom: 2px solid #000 !important;
}

#wp_container_post-Single {
    width: 100%;
    padding: 8em 0;
}

.data-post {
    width: 82%;
    margin: 0 auto;
}

.data-post span {
    font: 1.5625em/1.2em hatton_semibold;
    color: #EF8000;
    display: block;
}

.data-post h2 {
    font: 3.125em/1.2em hatton_semibold;
    color: #333333;
    display: block;
    padding-top: 0.5em;
}

.image-post {
    width: 100%;
    padding: 5em 0;
}

.image-post img {
    width: 100%;
    height: auto;
}

.text-post {
    width: 82%;
    margin: 0 auto;
    color: #3B3C43;
    font: 1.25em/1.6em opensans_regular;
    text-align: justify;
}

.text-post p {
    margin-bottom: 1em;
}

.row-social {
    width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7em;
    margin-bottom: 5em;
}

.button-prev-single a {
    font: 1.5625em/1em hatton_semibold;
    color: #3B3C43;
    background: url("./assets/webanterior/button_prev.svg");
    background-position: left center;
    background-size: 1.7em;
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 2.2em;
}

.button-prev-single a:hover {
    background: url("./assets/webanterior/button_prev_hover.svg") !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    background-size: 1.7em !important;
}

.row-social-share {
    display: flex;
}

.row-social-share a {
    width: 4em;
    height: 4em;
    margin-left: 1em;
}

.row-social-share a:nth-child(1n) {
    background: url("./assets/webanterior/social-facebook.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-social-share a:nth-child(1n):hover {
    background: url("./assets/webanterior/social-facebook-hover.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-social-share a:nth-child(2n) {
    background: url("./assets/webanterior/social-twitter.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-social-share a:nth-child(2n):hover {
    background: url("./assets/webanterior/social-twitter-hover.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-social-share a:nth-child(3n) {
    background: url("./assets/webanterior/social-linkedin.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-social-share a:nth-child(3n):hover {
    background: url("./assets/webanterior/social-linkedin-hover.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    background: #3B3C43;
    padding: 8em 0;
}

footer h6 {
    font: 1.25em/1.2em hatton_semibold;
    color: #EF8000;
    display: block;
    padding-bottom: 0.2em;
}

footer .wp_link_Footer a,
footer .wp_link_Footer span {
    color: #C9C3BE;
    font: 1.25em/1.6em opensans_regular;
}

footer .wp_link_Footer a:hover {
    color: #EF8000;
}

footer .row-logo-footer img {
    width: 11.4375em;
}

footer .row-linkedin-footer {
    display: flex;
}

footer .row-linkedin-footer a {
    color: #C9C3BE;
    font: 1.25em/1.1em opensans_regular;
    display: flex;
    align-items: flex-end;
}

footer .row-linkedin-footer a img {
    width: 1.575em;
    margin-left: 0.6em;
}

span.wpcf7-not-valid-tip {
    font: 1.2em/1.6em hatton_regular !important;
    color: #E51F30 !important;
}

div.wpcf7-response-output {
    font: 1.4em/1.6em hatton_semibold !important;
    color: #E51F30 !important;
    border: none;
    margin: 0 !important;
    padding: 0px !important;
    border: none !important;
}

.is_icoNav,
.is_containerNav_Mobile {
    display: none;
}


#wp_container_staff {
    width: 100%;
    padding: 10em 0;
}

.column-left-staff {
    width: 40%;
}

.row-image-staff {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.row-image-staff img {
    width: 100%;
    height: auto;
}

.row-image-staff:before {
    content: "";
    width: 180px;
    height: 180px;
    background: #EF8000;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    right: -10%;
    bottom: -5%;
}

.column-right-staff {
    width: 52%;
}

.column-left-staff a {
    font: 1.5625em/1em hatton_semibold;
    color: #3B3C43;
    background: url("./assets/webanterior/button_prev.svg");
    background-position: left center;
    background-size: 1.7em;
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 2.2em;
    margin-top: 2em;
}

.column-left-staff a:hover {
    background: url("./assets/webanterior/button_prev_hover.svg") !important;
    background-position: left center !important;
    background-size: 1.7em !important;
    background-repeat: no-repeat !important;
}

.button-movil {
    display: none;
}

#wp_containerData-Maps {
    width: 100%;
    padding: 8em 0;
}

#wp_container_Datos {
    width: 35%;
}

#wp_container_Datos h2 {
    font: 3.125em/1.2em hatton_regular;
    color: #333333;
    display: block;
    padding-bottom: 1em;
}

#wp_container_Maps {
    width: 55%;
}

#wp_container_Maps iframe {
    width: 100% !important;
    height: 45em !important;
}

#wp_container_Datos ul li {
    margin-bottom: 2em;
}

#wp_container_Datos ul li strong {
    font: 1.35em/1.2em hatton_semibold;
    color: #333333;
    display: block;
}

#wp_container_Datos ul li span,
#wp_container_Datos ul li a {
    color: #3B3C43;
    font: 1.25em/1em opensans_regular;
    display: block;
    padding-top: 0.3em;
}

#wp_container_Datos ul li a img {
    height: 1.6em;
}

#wp_container_Form {
    width: 100%;
    padding-bottom: 5em;
}

.line-form {
    width: 86%;
    height: 1px;
    background: #807c7963;
    margin: 0 auto;
}

.column-form {
    margin-top: 6em;
    width: 40%;
}

.line-form-center {
    width: 1px;
    height: 85%;
    background: #807c7963;
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.inputfile_uploadAdd {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 0;
}

.input-upload-add label {
    width: 45%;
    padding: 0;
    box-sizing: border-box;
    color: #C9C3BE;
    font: 1.2em/1em opensans_regular;
    background: none;
    border: 1px solid #C9C3BE;
    height: 40px;
    padding-left: 3.5em;
    background-repeat: no-repeat;
    background-position: 1.3em;
    background-size: 1.1em;
}

.input-upload-add label span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    width: 170px;
    position: absolute;
    line-height: 36px;
}

.input-upload-add br {
    display: none;
}

.qtranxs-lang-menu>a {
    display: none;
}

.qtranxs-lang-menu .sub-menu {
    display: flex;
}

.qtranxs-lang-menu .sub-menu a img {
    display: none;
}



@media screen and (max-width: 1760px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 750px) and (orientation : portrait) {
    .image-staff:before {
        content: "";
        right: -5% !important;
        bottom: -5% !important;
        width: 50px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 1340px) {
    .field-nav ul li {
        margin-right: 2em;
    }

    .field-nav {
        margin-right: 2em;
    }
}

@media screen and (max-width: 1100px) {

    body {
        font-size: 10px;
    }

    .content-staff h3 {
        height: 48px;
        overflow: hidden;
    }

    .field-nav ul li {
        margin-right: 2em;
    }

    .wp_containerNav {
        width: auto;
    }

    .wp_centered {
        width: 70%;
    }

    .wp_layerSlider-Home {
        background: url("./assets/webanterior/layer.svg");
        background-position: right top;
        background-size: 150%;
        width: 80.5%;
    }

    #wp_container_TheContent-Home {
        padding: 7em 0;
    }

    .wp_containerForm_Home {
        padding-right: 0px;
        padding-left: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .row-post-Home {
        padding-bottom: 4em;
        margin-bottom: 8em;
    }

    .row-footer {
        width: 20%;
    }

    footer {
        padding: 6em 0;
    }

    .layer-page p {
        font: 2.125em/1.2em hatton_regular;
        width: 85%;
    }

    .layer-page p br {
        display: none;
    }

    .content-staff h3 {
        font: 2em/1.2em hatton_semibold;
        padding-right: 0em;
    }

    .layer-page h1 {
        font: 3.5em/1em hatton_semibold;
    }

    .image-staff:before {
        content: "";
        right: -15%;
        bottom: -10%;
        width: 100px;
        height: 100px;
    }

    .row-image-staff:before {
        content: "";
        width: 110px;
        height: 110px;
    }

    #wp_containerServices>div>ul>li .content-services h3 {
        padding-right: 0em;
    }

    #wp_containerServices>div>ul>li {
        margin-bottom: 8em;
    }

    .layer-page {
        bottom: 13em;
    }

    #wp_containerList-Row {
        margin: 6em 0;
    }

    #button-slider .slick_next_arrow_add {
        margin-left: 10px;
    }

    #wp_container_TheContent-Home div p {
        font: 2.5em/1.2em hatton_regular;
    }

    .input-upload-add label {
        width: 100%;
    }

    footer .wp_flexbox {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .right-contact img {
        height: 500px;
    }


}

@media screen and (max-width: 750px) {
    header {
        padding: 3em 0;
        top: 0;
        z-index: 9999;
    }

    .content-services ul li:before {
        content: "";
        width: 6px;
        height: 6px;
        top: 7px;
    }

    #wp_containerSlider-Page {
        padding-top: 15em;
        padding-bottom: 9em;
    }

    .content-staff h3 {
        height: auto;
        overflow: inherit;
    }

    .right-contact img {
        height: auto;
    }

    .row-post-Home {
        padding-bottom: 2em;
        margin-bottom: 6em;
    }

    .row-title-block {
        padding-bottom: 3em;
        padding-top: 5em;
    }

    .row-title-block h2 {
        font: 2em/1em hatton_semibold;
        width: 100%;
        margin-bottom: 10px;
    }

    .row-post-Home ul li {
        width: 100%;
    }

    .wp_containerLogo {
        width: auto;
        padding: 0;
    }

    .wp_containerLogo img {
        width: 180px;
    }

    .wp_containerNav {
        display: none;
    }

    .is_icoNav {
        position: absolute;
        right: 2.5%;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .is_icoNav div {
        width: 35px;
    }

    .is_icoNav ul li {
        width: 100%;
        height: 3px;
        display: block;
        float: right;
        background: #fff;
        margin-bottom: 4px;
        transition: all 0.3s ease-in-out;
    }
    
    .closeNav ul li {
        width: 100% !important;
    }

    .closeNav ul li:nth-child(1) {
        opacity: 0;
    }
    
    .closeNav ul li:nth-child(2) {
        transform: rotate(45deg);
        margin-bottom: -3px;
    }
    
    .closeNav ul li:nth-child(3) {
        transform: rotate(-45deg);
    }

    .is_containerNav_Mobile {
        display: none;
        width: 100%;
        background: #3B3C43;
        position: fixed;
        top: 0px;
        display: none;
        z-index: 999;
        overflow: auto;
        height: 100%;
    }

    .is_containerNav_Mobile.showMenu {
        display: block;
    }

    .is_row-Mobile {
        padding: 0;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .is_row-Mobile ul li {
        position: relative;
        margin-bottom: 2em;
    }

    .is_row-Mobile ul li a {
        font: 2.3em/1.2em hatton_semibold;
        color: #fff;
        position: relative;
        margin: 0 auto;
    }

    .wp_columnSlider-Home h2 {
        font: 2em/1.1em hatton_semibold;
        margin-bottom: 0.8em;
    }

    #wp_containerSlider-Home .slick-dots button {
        margin-right: 5px;
    }

    #wp_containerSlider-Home:before {
        width: 72px;
        height: 10px;
        bottom: -10px;
    }

    #wp_containerSlider-Home,
    .wp_columnSlider-Home {
        height: 600px;
    }

    .wp_center {
        width: 90% !important;
    }

    #wp_container_TheContent-Home div p {
        font: 2em/1.3em hatton_regular;
    }

    #wp_container_TheContent-Home {
        padding: 5em 0;
    }

    footer .wp_flexbox {
        flex-flow: column;
    }

    footer h6 {
        margin-top: 2em;
    }

    footer {
        padding: 70px 0;
        font-size: 11px;
    }

    .wp_columnSlider-Home h3 br,
    .wp_columnSlider-Home h2 br {
        display: none;
    }

    #wp_container_TheContent div h2 {
        font: 1.6em/1.2em HelveticaNeue-Bold;
        letter-spacing: 0px;
    }

    #wp_container_TheContent div p {
        font: 1.3em/1.4em HelveticaNeue;
        margin-top: 20px;
        letter-spacing: 0px;
        text-align: justify !important;
    }

    #wp_container_TheContent ul li,
    #wp_container_TheContent ol li {
        font: 1.3em/1.4em HelveticaNeue;
    }

    #wp_container_Form p select {
        background: #F2F2F2 url("./assets/webanterior/arrow.svg") !important;
        background-repeat: no-repeat !important;
        background-size: 15px !important;
        background-position: 95% !important;
    }

    .btnContactPage {
        font: 1em/0.8em HelveticaNeue-Bold;
        letter-spacing: 0.1px;
    }

    .wp_columnSlider-Home a {
        font: 1.5em/0.8em hatton_semibold;
    }

    #wp_container_TheContent div strong {
        margin-bottom: -20px;
    }

    .wp_columnSlider-Home h3 {
        margin-top: 0;
        margin-bottom: 0.8em;
        display: none;
    }

    #button-slider .slick_prev_arrow_add {
        width: 45px;
        height: 45px;
    }

    #button-slider .slick_next_arrow_add {
        width: 45px;
        height: 45px;
        margin-left: 5px;
    }

    #button-slider {
        margin-bottom: 2em;
    }

    #numer-slider {
        margin-bottom: 1.5em;
    }

    .wp_layerSlider-Home {
        background: url("./assets/webanterior/layer.svg") !important;
        background-position: right top !important;
        background-size: 670px !important;
        width: 95%
    }

    .wp_layerSlider-Home div {
        margin-bottom: 9em;
    }

    .wp_containerForm_Home {
        padding-right: 20px;
        padding-left: 40px;
        padding-top: 60px;
        padding-bottom: 20px;
        flex-flow: column wrap;
    }

    .left-contact {
        width: 100%;
    }

    .right-contact {
        width: 100%;
        display: none;
    }

    .row-footer {
        width: 100%;
    }

    #wp_containerContact_Home {
        background: url("./assets/webanterior/backgroundContact.svg") !important;
        background-position: 0% 110% !important;
        background-size: 20% !important;
        background-repeat: no-repeat !important;
    }

    .row-post-Home ul li .row-content-post h3 {
        font: 2em/1.1em hatton_semibold;
        padding: 0.5em 0;
    }

    .layer-page h1 {
        font: 2.5em/1em hatton_semibold;
    }

    #wp_containerSlider-Page:before {
        content: "";
        width: 0;
        height: 0;
        border-right: 40px solid transparent;
        border-top: 40px solid transparent;
        border-left: 40px solid transparent;
        border-bottom: 35px solid #fff;
        left: 7%;
    }

    .layer-page {
        bottom: 8em;
    }

    .line-nav {
        height: 1px;
        top: 90px;
        width: 90%;
        margin: 0 auto;
    }

    .layer-page p {
        font: 2em/1.2em hatton_regular;
        width: 100%;
        max-width: 100%;
    }

    #wp_containerContent-Page .wp_center {
        padding: 0px 5%;
    }

    #wp_containerContent-Page {
        padding-top: 5em;
        padding-bottom: 4em;
    }

    .line-image {
        margin: 5em 0;
    }

    #wp_containerList-Staff h2 {
        font: 2.5em/1em hatton_regular;
    }

    .row-item-staff {
        margin: 3em 0;
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
    }

    .column-staff {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5em;
    }

    .image-staff:before {
        content: "";
        width: 120px;
        height: 120px;
        background: #EF8000;
        transform: rotate(45deg);
        display: inline-block;
        position: absolute;
        right: -10%;
        bottom: -5%;
    }

    #wp_container_staff .wp_flexbox-top {
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
    }

    .column-left-staff {
        width: 100%;
    }

    #wp_container_staff {
        padding: 7em 0;
    }

    .column-left-staff a {
        display: none;
    }

    .column-right-staff {
        width: 100%;
        margin-top: 4em;
    }

    .column-right-staff h2 {
        font: 2.5em/1.2em hatton_semibold;
    }

    .button-movil {
        font: 1.5625em/1em hatton_semibold;
        color: #3B3C43;
        background: url("./assets/webanterior/button_prev.svg");
        background-position: left center;
        background-size: 1.7em;
        background-repeat: no-repeat;
        padding: 0.5em 0 0.5em 2.2em;
        margin-top: 2em;
        display: block;
    }

    #wp_containerServices>div>ul>li {
        display: flex;
        flex-flow: column;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5em;
    }

    #wp_containerServices>div>ul>li .image-services {
        width: 100%;
    }

    #wp_containerServices>div>ul>li .image-services i {
        font: 1.8em/1.2em hatton_semibold;
        top: -1.2em;
        left: -1em;
        width: 4em;
        height: 4em;
    }

    #wp_containerServices>div>ul>li:nth-child(2n) {
        display: flex;
        flex-direction: column;
    }

    #wp_containerServices>div>ul>li .content-services {
        width: 100%;
        padding: 1em 0;
    }

    #wp_containerServices>div>ul>li .content-services h3 {
        font: 2em/1.2em hatton_semibold;
        padding: 0.4em 0;
        padding-right: 0em;
    }

    #wp_containerServices {
        margin: 8em 0;
    }

    .text-post {
        width: 90%;
    }

    .row-social {
        width: 90%;
        margin-top: 5em;
        margin-bottom: 0em;
    }

    .data-post {
        width: 90%;
    }

    .data-post h2 {
        font: 2.2em/1.2em hatton_semibold;
        padding-top: 0.5em;
    }

    .image-post {
        width: 100%;
        padding: 3em 0;
    }

    #wp_containerData-Maps .wp_flexbox-top {
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
    }

    #wp_container_Datos {
        width: 100%;
    }

    #wp_container_Maps {
        width: 100%;
    }

    .column-form {
        margin-top: 5em;
        width: 100% !important;
    }

    .input-upload-add label {
        width: 100%;
        background: url("./assets/webanterior/attacht.svg");
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 15px;
    }

    .line-form-center {
        display: none;
    }

    .column-form:nth-child(2n) {
        border-top: 1px solid #807c7963;
        padding-top: 6em;
        margin-top: 3em;
    }

    .wp_formTitle_Home h2 {
        font: 2.5em/1em hatton_regular;
    }

    .field-lang-movil {
        display: flex;
        margin-bottom: 0em;
        font-size: 6px;
        margin-left: -0.5em;
    }

    .field-lang-movil a {
        font: 1.4em/1em hatton_semibold;
        color: #fff;
    }

    .field-lang-movil i {
        font: 1.4em/1em hatton_semibold;
        color: #fff;
        margin: 0 5px;
    }

    .is_row-Mobile>div {
        width: 100%;
    }

    .lang-active {
        color: #EF8000 !important;
        opacity: 1 !important;
    }

    .qtranxs-lang-menu .sub-menu {
        display: flex !important;
    }


}



@media screen and (max-width: 750px) and (orientation : landscape) {

    .is_row-Mobile>div {
        margin-top: 100px;
    }

    .is_row-Mobile {
        font-size: 6px;
    }

    .wp_layerSlider-Home {
        width: 60%;
    }

    #wp_containerContact_Home {
        background: url("./assets/webanterior/backgroundContact.svg") !important;
        background-position: 0% 100% !important;
        background-size: 12% !important;
        background-repeat: no-repeat !important;
    }

    #wp_containerSlider-Page {
        height: 400px;
    }

    .image-staff:before {
        right: -5% !important;
        bottom: -5% !important;
        width: 200px;
        height: 200px;
    }

}


@media screen and (max-width: 1024px) and (min-width: 750px) and (orientation : landscape) {

    .image-staff:before {
        content: "";
        right: -10%;
        bottom: -10%;
    }

    #wp_containerContact_Home {
        background: url("./assets/webanterior/backgroundContact.svg");
        background-position: 0% 100%;
        background-size: 70px;
        background-repeat: no-repeat;
    }


}

@media screen and (max-width: 1024px) and (min-width: 750px) and (orientation : portrait) {

    #wp_containerContact_Home {
        background: url("./assets/webanterior/backgroundContact.svg");
        background-position: 0% 250%;
        background-size: 110px;
        background-repeat: no-repeat;
    }
}






.sprite-wasap {
    border-radius: 50%;
    animation: wasap 1s infinite;
}


@keyframes wasap {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

.wasap {
    position: fixed;
    bottom: 15px;
    z-index: 999;
    right: 15px;
}

